

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}



.modal-header
  {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

  }

  .modal-header button.close{
    border:none;
    font-size: 30px;
    background-color: transparent;
  }


:root {
  --black: #000000;
  --white: #ffffff;
}

/* .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  margin-top: 10rem;
} */

.home-box{
  /* width: 1200px; */
  margin-top: 17.5rem;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 30px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.setup-logo

{
  width: 50px;
  height: 50px;
}



.setup-logo img,
.setup-logo-set img{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}



.nav-link {
  color: var(--black);
  font-weight: 500;
}

.nav-link.active {
  border-radius: 20px;
  background-color: rgb(0, 14, 13);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
}

.lamp {
  z-index: 2;
  position: absolute;
  /* background: radial-gradient(circle, rgb(250, 251, 63) 0%, rgba(255, 255, 255, 1) 100%); */
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease-in-out;
}


button.login{
  color:rgb(0, 0, 0);
  border: black;
}
.lamp.dark-bg-lamp {
  color: #fff;
  background: radial-gradient(circle, rgb(167, 167, 43) 0%, rgb(0, 0, 0) 100%);
}

.hanger {
  border: 1px solid black;
  margin-top: -3000px;
  position: relative;
  width: 2px;
  height: 3000px;
  background-color: white;
}

.hanger::after {
  border: 2px solid black;
  content: '';
  width: 35px;
  height: 20px;
  position: absolute;
  background-color: rgb(51, 45, 45);
  right: -16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lamp-img {
  border: 2px solid black;
  position: relative;
  background-color: inherit;
  width: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  height: 100px;
}

.lamp-img::after {
  content: "";
  border: 2px solid black;
  position: absolute;
  background-color: #424040;
  width: 56px;
  height: 10px;
  border-radius: 10px;
  top: -9px;
  left: 23px;
}

.glow {
  box-shadow: 0 14px 18px 0 rgba(255, 252, 75, 0.2), 0 6px 20px 0 rgba(255, 252, 75, 0.2), 0 6px 20px 0 rgba(255, 252, 75, 0.2), 0 6px 20px 0 rgba(255, 252, 75, 0.2);
  position: absolute;
  right: 31px;
  display: block;
  background-color: yellow;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  filter: blur(8px);
  display: hidden;
}


.box .container{
  margin-top: 2rem;
  border-radius:10px;
  padding: 2rem;
  /* border:1px solid black; */
}

.form-check {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: rgb(34, 106, 109);
}

i {
  font-size: 1.7rem;
}

.form-switch {
  cursor: pointer;
}

.dark-bg-nav {
  color: white;
  background-color: rgb(41, 41, 41);
  border-bottom: 1px solid white;
}

.white-txt {
  color: white;
}

.white-texts {
  color: white;
  -webkit-text-stroke: 1px black;
}



.texts {
  padding: 13px;
  text-align: center;
  position: absolute;
  z-index: 45;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btns button {
  padding: 8px;
  border-radius: 20px;
  margin-left: 20px;
  border: none;
  transition: 0.5s;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns .login {
  background-color: transparent;
  border: 1px solid black;
}

.btns .signup {
  background-color: rgb(34, 106, 109);
  /* background-color: navy; */
  color: white;
}

.btns .signup:hover {
  background-color: rgb(35, 87, 90);
}

.btns .login:hover {
  background-color: #00000067;
}


.first {
  margin-top: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, rgba(59, 129, 156, 0.781), rgba(114, 15, 206, 0.747), rgb(34, 161, 140), rgb(1, 88, 88));
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent; 
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }

}

.setup-nav{
  max-height: 20%;
  justify-content: center;
  display:flex;
  width:100%;
}




.black-logo{
  /* background-image: url("/client/src/Components/Regular/Images/Lamp.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 4px;
  height: 4px;
}


.white-logo{
  /* background-image: url("/client/src/Components/Regular/Images/white-logo.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 4px;
  height: 4px;
}


.questionBank{
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  padding: auto;
  margin-top: 10%;
  /* height: ; */
  

} 
.questionBank .container-sm{
 
  border:1px solid black;
  width: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  background-size: 200%;
  padding-bottom: 15px;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(59, 129, 156, 0.781), rgba(114, 15, 206, 0.747), rgb(60, 21, 151), rgba(59, 129, 156, 0.781));
  animation:animate-gradient 2.5s ease-in-out infinite;
}


#quesAns{
  border-radius: 7px;
  padding:3px;
}
#quesAns:focus{
  outline:none;
  
}



.card-body{
  height: 300px; 
}






.main-container {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.check-container .check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.check-container .check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}
.check-container .check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, #49da83, transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}
@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}





.completetext{
  color:white;
  width: 400px;
  height: 100px;
}

#proceed{
  color:white;
  font-weight: 500;
  width:100%;
  background-color: transparent;
  padding:5px;
  border-radius: 20px;
  border: 1px solid white;
  transition:1s;
}

#proceed:hover{
  background-color: rgba(255, 255, 255, 0.158);
}

.container-fluid{

  align-items: center;
  justify-content: space-between;
  display:flex;
  position: fixed;
  bottom:0;
  z-index:2;
  max-height:3rem;
  border:1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.profile{
  color:white;
  display:flex;
  flex-direction: row;
  padding:5px;
  background-color: rgb(34, 106, 109);
  border-radius: 20px;
}


.controlpanel{
  padding:-20px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
  width:30%;
  background-color: rgb(34, 106, 109);
  border-radius: 30px;
  height:2rem;
  
 
}

.controlpanel .TestsAI{
  position: absolute;
  background: rgb(131,58,180);
background: linear-gradient(35deg, rgb(0, 183, 255)0%, rgb(255, 255, 255) 50%, rgb(2, 247, 255) 100%);

  text-align: center;
  color:rgb(0, 0, 0);
  
  border-radius: 2000px;
 
 padding:3px;
  background-size: 300%;
  border:3px solid black;
  animation: airotate 2s ease-in-out infinite;
  cursor:pointer;
 
}




.TestsAI img{
  
  width:50px;
  height:50px;
  border-radius: 50%;
  z-index:-1;
}
.sideset span{
 
  /* margin-top: 5px; */
 font-size: 25px;
 
  color:white;
}



.sideset span:hover{
 
  transition: 0.5s ease-in-out;
}

.sideset:hover{
  color:rgba(0, 255, 0, 0.356);
  
}



.sideset{

  margin: 3px;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
  border-radius: 2000px;
}

.userInfo{
  box-shadow: none;
}

.userInfo .col{
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.295), 0 6px 20px 0 rgba(0, 0, 0, 0.336);
}

@keyframes airotate{
 
from{
  background-position: 0%;

}
to{
  background-position: 300%;

 }

}





.circleprogress{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}


.col{
  width:50%;
 
}

.list-group{
  overflow-y: scroll;
}




.modal-dialog {
  width: auto;
  height: auto;
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  }
  
  .modal-dialog .modal-content {
  height:50%;
  }

/* responsive codes */

@media only screen and (min-width: 768px) and (max-width: 1380px) and (orientation: portrait) {
  .hanger {
    margin-top: -300%;
  }

  .texts {
    padding-bottom: 75%;
  }


  .home-box{
    margin-top: 10rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .hanger {
    margin-top: -400%;
  }
  .home-box{
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .nav-link {
    display: none;
  }

  .texts {
    padding-bottom: 120px;
  }
  .home-box{
    margin-top: 10rem;
  }
}


